* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.campo {
    height: 25px;
    width: 25px;
    background-color: #cccccc;
    /* campo fechado */
}

.marcado {
    /* campo marcado */
}

.alerta {
    /* campo que ao redor tem bomba */
}

.aberto {
    /* background-color: green;
    /* campo aberto */
}

.explodido {
    background-color: crimson;
    /* campo no qual explodiu a bomba */
}

.bomba {
    /* campo aberto com bomba */
}

.safe {
    background-color: rgb(50, 235, 43);
}